* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #333; }

input,
select,
option {
  font-family: inherit; }

.wrapper {
  position: relative;
  width: 90%;
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 20px; }

header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 0.3rem 0; }
  header .wrapper {
    display: flex;
    align-items: center; }
    header .wrapper .title {
      flex: 1; }
      header .wrapper .title h1 {
        margin: 0;
        font-size: 1.4rem; }
        header .wrapper .title h1 a {
          color: #333;
          text-decoration: none; }
    header .wrapper .navigation ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      header .wrapper .navigation ul li {
        display: inline-block; }
        header .wrapper .navigation ul li a {
          color: #333;
          text-decoration: none;
          padding-left: 1.6rem; }
          header .wrapper .navigation ul li a:hover {
            color: #666; }

main {
  margin: 2.6rem 0; }
  main .icard-list {
    display: inline; }
    main .icard-list #card {
      width: 20rem;
      height: 12rem;
      float: left;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      position: relative; }
      main .icard-list #card .icard {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        main .icard-list #card .icard li {
          font-size: 1rem;
          margin-bottom: 0.2rem; }
          main .icard-list #card .icard li:nth-child(1) {
            font-size: 1.8rem; }
  main #add-button {
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20rem;
    height: 12rem;
    cursor: pointer; }
    main #add-button .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#form-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.774);
  z-index: 3; }
  #form-popup #form {
    width: 34%;
    min-width: 400px;
    margin: 3rem auto 0;
    padding: 1.4rem;
    background-color: #c0c0c0;
    position: relative; }
    #form-popup #form div {
      display: flex;
      margin-bottom: 1rem; }
      #form-popup #form div label {
        font-size: 1.2rem;
        flex: 2; }
      #form-popup #form div input,
      #form-popup #form div select {
        flex: 4; }
      #form-popup #form div input {
        font-size: 1.2rem;
        padding: 0.2rem 0.4rem;
        border: 1px solid #888;
        border-radius: 5px; }
        #form-popup #form div input::placeholder {
          color: #ccc; }
      #form-popup #form div select {
        padding: 0.4rem; }
  #form-popup #hide-form {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 0px 6px;
    cursor: pointer; }
